.wrapper {
    margin: 0 auto;
    width: 1280px;
}

.details {
    display: flex;
    margin-bottom: 70px;
    margin-top: 30px;
    width: 80%;
    justify-content: center;
}

.details__info {
    margin-left: 40px;
    width: 50%;
}

.details__image {
    width: 50%;
}

.details__name {
    font-size: 42px;
    font-weight: bold;
    color: #551a8b;
    text-transform: uppercase;
    animation: flicker .5s infinite alternate;
    margin-bottom: 30px;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 2px #f1efe1,
        0 0 4px #f1efe1,
        0 0 8px #f1efe1,
        0 0 15px #BFE2FF,
        0 0 30px #BFE2FF,
        0 0 40px #BFE2FF,
        0 0 70px #BFE2FF,
        0 0 100px #BFE2FF;
    }
    20%, 24%, 55% {
        text-shadow: 0 0 1px #f1efe1,
        0 0 2px #f1efe1,
        0 0 5px #f1efe1,
        0 0 11px #BFE2FF,
        0 0 20px #BFE2FF,
        0 0 30px #BFE2FF,
        0 0 55px #BFE2FF,
        0 0 80px #BFE2FF;
    }
}

.details__text {
    margin-bottom: 15px;
    font-size: 22px;
    color: #ede2c7;
    line-height: 1.6;
}

.details__text span {
    letter-spacing: 3px;
    font-size: 27px;
    font-weight: bold;
    color: #847aae;
    -webkit-background-clip: text;
}