.list {
    color: #fff;
    display: grid;
   grid-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    padding-left: 0;
    justify-content: center;
    margin: 0 20px;
}

.list__item {
    list-style-type: none;
}

.list__films {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.list__text {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: #ede2c7;
    text-shadow: 0 0 1px #ede2c7;
    margin-bottom: 10px;
}
.title {
    /*animation: 2s neon-2 alternate-reverse infinite;*/
    text-transform: uppercase;
    animation: flicker .5s infinite alternate;
    margin-bottom: 15px;
    /*text-shadow: 0 0 5px #f1efe1, 0 0 10px #f1efe1, 0 0 10px #f1efe1, 0 0 20px #7672ac, 0 0 40px #0000ff, 0 0 90px #0000ff, 0 0 100px #0000ff, 0 0 150px #0000ff;*/
}

@keyframes neon-2 {
    from {
        text-shadow: 0 0 5px #FFF,
        0 0 10px #FFF,
        0 0 15px #FFF,
        0 0 20px #BFE2FF;
    }
    to {
        text-shadow: 0 0 20px #BFE2FF,
        0 0 35px #BFE2FF,
        0 0 40px #BFE2FF,
        0 0 50px #BFE2FF,
        0 0 800px #BFE2FF;
    }
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 2px #f1efe1,
                0 0 4px #f1efe1,
                0 0 8px  #f1efe1,
                0 0 15px #BFE2FF,
                0 0 30px #BFE2FF,
                0 0 40px #BFE2FF,
                0 0 70px #BFE2FF,
                0 0 100px #BFE2FF;
    }
    20%, 24%, 55% {
        text-shadow:
                0 0 1px  #f1efe1,
                0 0 2px  #f1efe1,
                0 0 5px  #f1efe1,
                0 0 11px #BFE2FF,
                0 0 20px #BFE2FF,
                0 0 30px #BFE2FF,
                0 0 55px #BFE2FF,
                0 0 80px #BFE2FF;
    }
}

.details__image img{
    max-width: 100%;
}
