.list {
    color: #fff;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    padding-left: 0;
}

.list__title {
    letter-spacing: 3px;
    font-size: 27px;
    font-weight: bold;
    color: #847aae;
    -webkit-background-clip: text;
    margin: 20px 0;
}

.title {
    color: #ede2c7;
    margin-bottom: 15px;
}

.list__item {
    list-style-type: none;
}


.list__films {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.list__image {
    max-width: 100%;
}