@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poller+One&display=swap');

.header {
    justify-content: center;
    display: flex;
    margin: 10px;
    border-bottom: 1px solid #4f4c95;
}

.logo {
    width: 300px;
    margin-bottom: 10px;
}